<%# Log in page %>
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-left">
			<h1 class="mt-5">Log In</h1>
			<%= form_tag sessions_path do %>
			<p class="lead">
				<%= label_tag :username %><br>
				<%= text_field_tag :username %>	
			</p>
			<p class="lead">
				<%= label_tag :password %><br>
				<%= password_field_tag :password %>
			</p>
			<p class="lead">
				<%= submit_tag 'Log In' %>
			</p>
			<% end %>
		</div>
	</div>
</div>
