<%# standard form for create and update %>

<%= form_for @task do |f| %>
	<%# if any error encountered, display error list%>
	<%= render 'error_list', object: @task %>

	<%# NOT FULLY IMPLEMENTED if user is an Admin, allow him to create tasks for other users%>
	<% if check_admin %>
		<p>
		<%= f.label 'Task Handler' %>
		<%= text_field :user %><br>
		</p>
	<% end %>

	<p>
	<%= f.label 'Task' %>
	<%= f.text_field :title, placeholder: 'Insert name of task' %><br>
	</p>

	<p>
	<%= f.label 'Description' %>
	<%= f.text_area :details, placeholder: 'Describe the nature of what is to be done' %><br>
	</p>

	<p>
	<%= f.label 'Tags' %>
	<%= f.text_area :tags, placeholder: 'Insert tags, with a space in between each word' %><br>
	</p>	

	<p>
	<%= f.label 'Deadline' %>
	<%= f.date_select :deadline, order:[:day, :month, :year], start_year: Date.today.year %><br>
	</p>

	<%# if on 'edit' page, include a completed? checkbox %>
	<% if request.path.include?('edit') %>
		<p>
		<%= f.label "Completed?" %>
		<%= f.check_box :completed %><br><%# FIGURE OUT HOW TO PASS completion_date = date.now %>
		</p>
	<% end %>
	<%= f.submit %>
	<%# need to find way to clean up below code%>
	<%= button_tag t('buttons.cancel'), type: "submit", name: "cancel", value: true %>
<% end %>