<%# Standard form partial for create and update %>

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-left">
			<%= form_for @task do |f| %>
				<%# if any error encountered, display error list%>
				<%= render 'error_list', object: @task %>

				<%# NOT FULLY IMPLEMENTED if user is an Admin, allow him to create tasks for other users%>
				<%# if check_admin %>
					<p>
					<%#= f.label 'Task Handler' %>
					<%#= text_field @user, placeholder: 'Insert name of user handling the task' %><br>
					</p>
				<%# end %>

				<p class="lead">
				<%= f.label 'Task' %><br>
				<%= f.text_field :title, placeholder: 'Insert name of task' %><br>
				</p>

				<p class="lead">
				<%= f.label 'Description' %><br>
				<%= f.text_area :details, placeholder: 'Describe the nature of what is to be done' %><br>
				</p>

				<p class="lead">
				<%= f.label 'Tags' %><br>
				<%= f.text_area :tags, placeholder: 'Insert tags, with a space in between each word' %><br>
				</p>	

				<p class="lead">
				<%= f.label 'Deadline' %><br>
				<%= f.date_select :deadline, order:[:day, :month, :year], start_year: Date.today.year %><br>
				</p>

				<%# If on 'edit' page, include a 'completed?' checkbox %>
				<% if request.path.include?('edit') %>
					<p class="lead">
					<%= f.label "Completed?" %>
					<%= f.check_box :completed %>
					</p>
				<% end %>

				<%# If task is completed, admin can approve it %>
				<% if check_admin && @task.completed %>
					<p  class="lead">
					<%= f.label "Approve?" %>
					<%= f.check_box :approved %>
					</p>
				<% end %>

				<br>
				<%= f.submit %>
				<%= f.submit name: "cancel", value: "Cancel" %>
			<% end %>
		</div>
	</div>
</div>