<%# returns authentication tokens for Delete Task%>
<%= csrf_meta_tags %>

<h1>Here are all your tasks!</h1>

<ul> <%# Displays every single task title%>
	
	<% @tasks.sort_by{ |task| [task.deadline, task.title] }.each do |task| %>
		<li><p> 
			<p><strong><%= link_to task.title, task_path(task) %></strong></p>
			<% if task.completed %>
				<p><%= 'Completed: ' + (task.completed ? 'Yes' : 'No') %></p>
			<% else %>
				<p><%= 'Deadline: ' + task.deadline.strftime('%d %b %y') %></p>
			<% end %>
		</li></p>
	<% end %>
</ul>

<%= link_to 'Create Task:', tasks_new_path %>