<%= csrf_meta_tags %>
	<%# Main page for inspecting tasks%>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-left">
				<h1 class="mt-5"><%= @task.title %></h1>
				<p class="lead"><em><%= @task.details %></em></p>
				<p class="lead"><%= 'Tags: ' + @task.tags.to_s %></p>
				<% if @task.completed %>
					<p class="lead"><%= 'Completed On: ' + @task.completion_date.strftime('%d %b %y') %></p>
				<% else %>
					<p class="lead"><%= 'Deadline: ' + @task.deadline.strftime('%d %b %y') %></p>
				<% end %>
				<br>
				<p class="lead"><%= link_to 'Edit', edit_task_path(@task) %> |
				<%= link_to 'Delete', task_path(@task),
					data: { confirm: 'Confirm Deletion?' }, method: :delete %></p>
				<p class="lead"><%= link_to 'Return to list of tasks', tasks_path %></p>
			</div>
		</div>
	</div>
