<%= csrf_meta_tags %>
<%# Main page for displaying all users%>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h1 class="mt-5">Users</h1>
          <p class="lead">
					<%# Display all the users in a table consisting of their name and role %>
					<table>
						<thead>
							<tr>
								<th class="lead">Username</th>
								<th class="lead">Role</th>
								<th colspan="5"></th>
							</tr>
						</thead>
						<tbody>
							<% @users.sort_by{ |user| [user.username, user.role] }.each do |user| %>
								<tr>
									<td class="lead"><%= user.username %></td>
									<%# nil check in place to prevent error if user.role is somehow not assigned %>
									<td class="lead"><%= user.role == nil ? 'unassigned' : user.role %></td>
									<td class="lead"><%= link_to 'Show', user %></td>
									<td class="lead"><%= link_to 'Edit', edit_user_path(user) %></td>
									<td class="lead"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<br>
					<p class="lead">
					<%= link_to 'New User', new_user_path %>
					</p>
        </div>
      </div>
    </div>
