<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-bare/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>CVWO To-Do List WebApp</title> <%# this is what appears when u hover over the tab. Its the 'webpage title' %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<!--
		<p id='notice'><%= notice %></p>
		<p id='alert'><%= alert %></p>
		<h1><%= link_to 'Home', root_path %> </h1>
		<h1><%= link_to 'Users', users_path if check_admin %></h1>
		<h1><%= link_to 'Tasks', tasks_path %> </h1>
		<% if current_user %>
			Logged in as: <%= current_user.username %>
			<%= link_to 'Log Out', :logout %>
			or
			<%= link_to 'Change Password', edit_user_path(current_user.id) %>
		<% else %>
			<%= link_to 'Log In', :login %>
			or
			<%= link_to 'Sign Up', :signup %>
		<% end %>
		-->
	</head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/welcome/index">CVWO Task Manager<%= ' | Welcome, now logged in as ' + current_user.username.to_s if current_user %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
						<%# Different menu options based on whether the user is logged in / is admin %>
							<h5 class="nav-link"><%= link_to 'Home', root_path %></h5>
						</li>
						<li class="nav-item">
							<%# Need to actually redirect this to an about page!%>
							<h5 class="nav-link"><%= link_to 'About', root_path %></h5>
						</li>
							<% if current_user %>
							<li class="nav-item">
								<h5 class="nav-link"><%= link_to 'Log Out', :logout %></h5>
							</li>
							<li class="nav-item">
								<h5 class="nav-link"><%= link_to 'Tasks', tasks_path %></h5>
							</li>
							<% else %>
							<li class="nav-item">
								<h5 class="nav-link"><%= link_to 'Log In', :login %></h5>
							</li>
							<li class="nav-item">
								<h5 class="nav-link"><%= link_to 'Sign Up', :signup %></h5>
            	</li>
						<% end%>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-bare/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-bare/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <%= yield %>
  </body>
</html>
